<html>
    <head>

    </head>
    <body>
        
        <h3>This Is A form Page</h2>

        <form action='/submit' method='post'>
            <input type="text" name = 'fname' placeholder="first name" required = 'required'>
            <input type="text" name = 'sname' placeholder="second name" required = 'required'>
            <input type="number" name = 'phone' placeholder="phone number" required = 'required'>
            <input type="email" name = 'email' placeholder="email" required = 'required'>

            <button type='submit'> Submit </button>
        </form>

    </body>
</html>
